@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Fauna One', serif;
  font-size: 16px;  
}

h1 {
  font-family: Cinzel, serif;
  font-size: 46px;  
}
.bg-image{
    background-image: url(./assets/jumbotron.jpg);
    background-position: center;
    background-size: cover;
}

hr{
    color: red;
   
}

  
  
 
